
::placeholder{
    color: #252525;
    font-weight: 100;
    font-size: 0.9em;
    font-family: Muli;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(239,236,226)inset;
}

h1, h2, h3, h4, h5, h6, span, p{
    font-family: Muli;
}

p{
    font-size: 0.9em;
}

input:focus {
    outline-width: 0ch;
}

#coverPage2{
    width: 100%;
}

.img_carousel{
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
}

#filtro{
    width: 100%;
    height: 725px;
    position: absolute;  
    z-index: 1;
    /* background-image: url(../../assets/img/filtro.png); */
    background-color: rgba(37, 37, 37, 0.422);
}

#contServicios{
    width: 100%;
    padding:10% 0% 10% 0%;
    text-align: center;
    background-color: rgb(239,236,227);     
}

#contNews{
    width: 100%;
    padding:10% 0% 10% 0%;
    text-align: center;
    background-color: white;     
}

#font_1{
    font-family: 'Muli', sans-serif;
    font-size: 2.5em;
}

.font_2{
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
}

.service{
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 2px;
    margin:0px;
    padding:0px;
}

.left_article{
    height: 100%;
    width: 49%;
    margin: 0!important;
    padding: 8% 4% 8% 4%;
    text-align: left;
     display: inline-block;
}

.right_article{
    height: 400px;
    margin:0px;
    display: inline-block;
    position:relative;
    background-size:contain;
    background-repeat: no-repeat;
}

.data_pack{
    text-align: left;
    /* position: absolute;  */
    /* margin-left: calc((100% - 490px) * 0.5) */
}


.subt{
    font-weight: 700!important;
}

.paragraph{
    font-weight: 100!important;
    line-height: 24pt;
    font-size: 0.9em;
}

.subt_news{
    margin: 2vw 0vw 0vw 0vw;
}

.paragraph_news{
    margin: 1vw 0vw 2vw 0vw;
}

.img_article{
    width:100%;
    height: 100%;
}

#img_movil{
    width: 100%;
}

.news_left{
    display:inline-block;
    width: 40%;
    margin: 0% 3% 0% 3%;
    text-align: left;
}

.news_right{
    display:inline-block;
    width: 40%;
    margin: 0% 3% 0% 3%;
    text-align: left;
}

.box_contact{
    background-color: transparent;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #616161 !important;
    margin-top:20px;
}

/* Controles del formulario de contacto */
#txt_nombre{
    width: 45%;
}

#txt_correo{
    width: 45%;
    margin-left: 9%;
}

#txt_telefono{
    width:100%;
}

#txt_direccion{
    width: 100%;
}

#txt_message{
    width: 100%;
}

#btn_enviar{
    width: 30%;
    height: 50px;
    background-color: transparent;
    border:1px solid #999184;
    margin-top: 20px;
    cursor: pointer;
}
/* Fin */

#horario{
    width: 100%;
    height: 720px;
    background-image: url("../../assets/img/forotpero.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#filter_horario{
    position: absolute;
    background-color: rgba(37, 37, 37, 0.322);
    width:100%;
    height: 720px;
}

#cont_horario{
    text-align: center;
    color: white;
    /* z-index: 100; */
    position: absolute;
    width: 100%;
    margin: 15% 2.5% 15% 2.5%;
}

#contactar{
    text-align: center;
    padding: 5% 8% 5% 8%;
    background-color:rgb(239,236,226);
}

/* LOADER */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(2, 141, 221);
    border-bottom: 16px solid rgb(2, 141, 221);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #loader{
      position: absolute;
      margin-top: 30%;
      margin-left: 35%;
  }
  /* FIN LOADER */

  #logo{
      width: 100%;
      height:300px;
      position:absolute;
      text-align: center;
      margin-top: 150px;
  }



  #titulo_optica{
    font-size: 8vw;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 16pt;
    display:inline-block;
    margin-top: 6%;
  }

  #lema{
      color:white;
      font-family: 'Catamaran';
      letter-spacing: 15pt;
      font-size: 1.5vw;
  }

  #btn_noticias{
      background-color: transparent;
      border:1px solid white;
      color:white;
      padding: 15px 70px;
      cursor: pointer;
  }

#cont_btn_noticias{
    margin-top: 100px;
}

  #btn_noticias:hover{
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.322);
  }



  /* AJUSTES RESPONSIVE */
/* Smartphones (portrait & landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    #titulo_optica{
        font-size: 16vw;
        color: white;
        font-family: 'Anton', sans-serif;
        letter-spacing: 16pt;
        display:inline-block;
      }

      #logo{
        width: 100%;
        height:300px;
        position:absolute;
        text-align: center;
        margin-top: 120px;
    }

    #lema{
        color:white;
        font-family: 'Catamaran';
        letter-spacing: 5pt;
        font-size: 2.5vw;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    #cont_btn_noticias{
        margin-top: 20px;
    }

    #coverPage2{
        height: 640px;
        background-color: aqua;
    }

    .img_carousel{
        width: 100%;
        height: 640px;
        background-size: cover;
        background-position: center;
    }

    #filtro{
        width: 100%;
        height: 665px;
        position: absolute;  
        z-index: 1;
        background-color: rgba(37, 37, 37, 0.422);
    }

    .subt{
        font-weight: 700!important;
        font-size: 5vw;
    }
    
    .paragraph{
        font-weight: 100!important;
        line-height: 24pt;
        font-size: 0.9em;
    }

    .service{
        width: 100%;
        height: 570px;
        background-color: white;
        border-radius: 2px;
        margin:0px;
        padding:0px;
    }

    .left_article{
        height: 350px;
        width: 100%;
        margin: 2px 20px 2px 20px!important;
        padding: 8% 4% 8% 4%;
        text-align: left;
         display: inline-block;
    }
    
    .right_article{
        height: 400px;
        margin: 0px 15px 0px 15px!important;
        display: inline-block;
        position:relative;
        background-size:contain;
        background-repeat: no-repeat;
    }

    .news_left{
        display:block;
        width: 100%;
        margin: 0% 3% 0% 3%;
        text-align: left;
    }
    
    .news_right{
        display:block;
        width: 100%;
        margin: 0% 3% 0% 3%;
        text-align: left;
    }

    .subt_news{
        margin: 2vw 0vw 0vw 0vw;
    }
    
    .paragraph_news{
        margin: 2vw 0vw 10vw 0vw;
    }

    #horario{
        width: 100%;
        height: 600px;
        background-image: url("../../assets/img/forotpero.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #filter_horario{
        position: absolute;
        background-color: rgba(37, 37, 37, 0.322);
        width:100%;
        height: 600px;
        background-position: center;
    }
    
    #cont_horario{
        text-align: center;
        color: white;
        /* z-index: 100;*/
        position: absolute; 
        width: 100%;
        margin: 35% 2.5% 15% 2.5%;
    }

    .font_2{
        font-family: 'Dancing Script', cursive;
        font-size: 2em;
    }

    .p_horario{
        font-size: 4vw;
    }

    .box_contact{
        background-color: transparent;
        display: inline-block;
        border: none;
        border-bottom: 1px solid #616161 !important;
        margin-top:20px;
    }
}
 
/* Smartphones (landscape) */
@media only screen 
and (min-width : 321px) {
 
}
 
/* Smartphones (portrait) */
@media only screen 
and (max-width : 320px) {

}
 
/* iPads (portrait & landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
 
}
 
/* iPads (landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
 
}
 
/* iPads (portrait) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
 
}
 
/* Ordenadores de sobremesa y portátiles */
@media only screen 
and (min-width : 1224px) {
 
}
 
/* Pantallas grandes */
@media only screen 
and (min-width : 1824px) {
 
}
 
/* iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
 
}
  /* FIN AJUSTES RESPONSIVE  */