
<!-- <div id="coverPage">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="../../assets/img/slide_1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../../assets/img/slide_2.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../../assets/img/slide_3.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../../assets/img/slide_4.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
              <img class="d-block img-fluid" src="../../assets/img/slide_5.jpg" alt="First slide">
          </div>
        </div>
      </div>
</div> -->


<div id="filtro" >
  <!-- <img id="imagen_filtro" src="../../assets/img/filtro.png" width="100%"> -->
  <div id="logo">
    <!-- <img id="img_logo" src="../../assets/img/LOGO_OPTICA_sin_fondo.png"> -->
    <h1 id="titulo_optica">ÓPTICA DEL REY</h1>
    <h3 id="lema" >LA VISIÓN QUE VIENE DEL CIELO</h3>
    <div id="cont_btn_noticias">
        <a href="#contNews" id="btn_noticias">Noticias</a>
    </div>
  </div>
</div>
<div id="coverPage2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <!-- <div class="carousel-item active">
          <div class="img_carousel" style="background-image: url(../../assets/img/slide_1.jpg)">
          </div>
        </div> -->
        <div class="carousel-item active">
            <img  src="" >
            <div class="img_carousel" style="background-image: url(../../assets/img/slide_1.jpg)" ></div>
          </div>
          <div class="carousel-item">
            <img src="" >
            <div class="img_carousel" style="background-image: url(../../assets/img/slide_2.jpg)" ></div>
          </div>
          <div class="carousel-item">
              <img src="" >
              <div class="img_carousel" style="background-image: url(../../assets/img/slide_3.jpg)" ></div>
          </div>
          <div class="carousel-item">
              <img src="" >
              <div class="img_carousel" style="background-image: url(../../assets/img/slide_4.jpg)" ></div>
          </div>
          <div class="carousel-item">
              <img src="" >
              <div class="img_carousel" style="background-image: url(../../assets/img/slide_5.jpg)" ></div>
          </div>
      </div>
</div>

<!-- <div id="coverPage" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img/slide_1.jpg" width="100%">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/slide_2.jpg" width="100%">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/slide_3.jpg"  width="100%">
    </div>
    <div class="carousel-item">
        <img src="../../assets/img/slide_4.jpg"  width="100%">
      </div>
      <div class="carousel-item">
          <img src="../../assets/img/slide_5.jpg"  width="100%">
        </div>
  </div>
</div> -->


<!-- Parte bajo el carrusel -->
<div id="contServicios">
  <div class="container">
    <div id="titulo">
      <h2 id="font_1">Nuestros Servicios</h2>
      <br>
      <p class="font_2">Atención de calidad en el sector</p>
    </div>
    <br>
    <br>
    <div class="service">
   <div class="row">
     <div class="col-md-6 left_article">
        <h5 class="subt"><span>Examen general de la vista</span></h5>
        <p class="paragraph">
            <span>Si necesita un Examen general de la vista de calidad, 
                Optica del Rey es la clínica de optometría perfecta para usted. 
                El equipo de profesionales de la clínica se ocupa de guiar a los pacientes 
                y a sus familias durante todo el proceso. Visite la clínica y solicite 
                una consulta si tiene dudas sobre el servicio de Examen general de la vista.</span>
         </p>
     </div>
     <div class="col-md-6 right_article" style="background-image: url('../../assets/img/article_1.png');">
     </div>
   </div>
    </div>
    <br>
    <br>
    <div class="service">
        <div class="row">
            <div class="col-md-6 left_article">
               <h5 class="subt"><span>Graduación de anteojos</span></h5>
               <p class="paragraph">
                   <span>En Óptica del Rey le graduamos sus anteojos mediante procedimientos de alta calidad 
                         para lograr alcanzar la mayor comodidad visual y la corrección de 
                         los defectos visuales. Visite la clínica y solicite una consulta si tiene dudas sobre 
                         el servicio de graduación de anteojos.</span>
                </p>
            </div>
            <div class="col-md-6 right_article" style="background-image: url('../../assets/img/article_2.png')">
            </div>
          </div>  
      </div>
  </div>
</div>
<div id="contNews">
  <div class="container">
      <div id="titulo">
          <h2 id="font_1">Noticias</h2>
          <br>
          <p id="font_2">Obtenga información actual de primera mano</p>
      </div>
      <br>
      <div>
              <div class="news_left" >
                  <img id="img_movil" src="../../assets/img/movil.png" alt="">
                  <h5 class="subt_news">Óptica móvil del Rey en Choluteca</h5>
                  <p class="paragraph_news"><span>
                      Óptica móvil del Rey atiende todos los sábados de 8:00 AM a 2:00 PM en el parque valle 
                      de Choluteca.
                  </span></p>
              </div>
              <div class="news_right" >
                  <img id="img_movil" src="../../assets/img/movil_2.jpg" alt="">
                  <h5 class="subt_news">Óptica móvil del Rey en Nacaome</h5>
                  <p class="paragraph_news"><span>
                      Óptica móvil del Rey atiende todos los Lunes de 8:00 AM a 12:00 PM en el parque central
                      de Nacaome.
                  </span></p>
              </div>
      </div>
  </div>
</div>
<div id="horario">
  <div id="filter_horario"></div>
  <div id="cont_horario">
    <h4>Horario de servicio</h4>
    <br>
    <br>
    <p class="font_2">Visítanos</p>
    <br>
    <br>
    <p class="p_horario"><strong>Martes</strong> - San Lorenzo de 8:00 a.m. a 5:00 p.m. </p>
    <p class="p_horario"><strong>Sábado</strong> - Choluteca de 8:00 a.m. a 2:00 p.m. </p>
    <p class="p_horario"><strong>Lunes</strong> - Nacaome de 8:00 a.m. a 12:00 p.m.</p>
  </div>
</div>
<div id="contactar">
  <div class="container row">
    <div class="col-md-6">
      <h3>Contactar</h3>
      <br>
      <br>
      <p>San Lorenzo, valle, Honduras</p>
      <p>Calle del registro, barrio la cruz, frente al Registro Nacional de las Personas</p>
      <br>
      <p>opticadelrey@hispavista.com</p>
    </div>
    <div class="col-md-6">
  <form ngNativeValidate (submit)="sendEmail(message)">
      <div id="loader" #loader class="loader"></div>
    <div>
      <input required class="box_contact" id="txt_nombre" #name type="text" name="name" placeholder="Nombre" [(ngModel)]="message.name">
      <input required class="box_contact" id="txt_correo" type="email" name="email" placeholder="Correo" [(ngModel)]="message.email">
    </div>
    <div>
      <input required type="text" id="txt_telefono" class="box_contact" name="telefono" placeholder="Teléfono" [(ngModel)]="message.telefono">
    </div>
    <div>
      <input required type="text" id="txt_direccion" class="box_contact" name="direccion" placeholder="Dirección" [(ngModel)]="message.direccion">
    </div>
    <div>
      <textarea required placeholder="Mensaje" class="box_contact" id="txt_message" rows="6" name="message" [(ngModel)]="message.message"></textarea>
    </div>
    <button id="btn_enviar" type="submit">Enviar</button>
  </form>
    </div>
  </div>
</div>
<app-gmaps></app-gmaps>
<app-carousel-products id="Products"></app-carousel-products>
<app-footer></app-footer>

 




